/* @tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Poppins';
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: #fff;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color:#111;
  padding: 50px;
}

.box{
  height: 300px;
  width: 300px;
  background:linear-gradient(to right bottom, rgb(33, 181, 176),rgb(168, 75, 182));
  /* border-radius: 50%; */
  
}
.circle{
  height: 300px;
  width: 300px;
  background:linear-gradient(to right bottom, rgb(70, 70, 148),rgb(251, 251, 17));
  border-radius: 50%;
  margin-top: 5px;
  
}